<div class="w-100">
  <div class="row mb-4">
    <div class="col-12">
      <button mat-stroked-button class="rounded-0 form-width button-border-white float-right" color="accent" (click)="filterExpanded = !filterExpanded"><fa-icon [icon]="['fas', 'filter']" class="mr-2"></fa-icon>Filter</button>
    </div>
  </div>
  <div class="row mb-5" *ngIf="filterExpanded" [@expandOnEnter] [@collapseOnLeave]>
    <div class="col-6 custom-slider">
      <p class="text-sm mb-0">Rating</p>
      <hr class="custom-hr mt-1">
      <ngx-slider [(value)]="ratingMinValue" [(highValue)]="ratingMaxValue" [options]="ratingOptions"></ngx-slider>
    </div>
    <div class="col-6 custom-slider">
      <p class="text-sm mb-0">Popularity</p>
      <hr class="custom-hr mt-1">
      <ngx-slider [(value)]="popularityMinValue" [(highValue)]="popularityMaxValue" [options]="popularityOptions"></ngx-slider>
    </div>
    <div class="col-12 mt-4">
      <p class="text-sm mb-0">Genres</p>
      <hr class="custom-hr mt-1">
      <div class="genre-list my-2">
        <ul>
          <li *ngFor="let genre of genreFilterKeys" (click)="changeGenreFilterValue(genre)" class="pointer" [class.genre-list-filter-active-item]="genreFilterValues.get(genre)">
            {{genre}}
          </li>
        </ul>
        <ul class="float-right">
          <li class="genre-list-filter-active-item pointer"  (click)="changeGenreFilterAll(true)">
            <fa-icon [icon]="['far', 'check-square']" class="mr-1"></fa-icon>Select All
          </li>
          <li class="genre-list-filter-active-item pointer" (click)="changeGenreFilterAll(false)">
            <fa-icon [icon]="['far', 'square']" class="mr-1"></fa-icon>Select None
          </li>
        </ul>
      </div>
    </div>

    <div class="col-6 mt-4">
      <p class="text-sm mb-0">Spoken Languages</p>
      <hr class="custom-hr mt-1">
      <div class="my-2">
        <img *ngFor="let lang of spokenLanguagesFilterKeys" [src]="'https://unpkg.com/language-icons@0.3.0/icons/'+ lang + '.svg' | safe:'resourceUrl'" height="20px" class="pointer mr-1 mb-1" [ngbTooltip]="languageCodeMap.get(lang)" (click)="changeSpokenLanguageFilterValue(lang)" [class.language-list-filter-inactive-item]="!spokenLanguagesFilterValues.get(lang)">
      </div>
      <div class="genre-list my-2">
        <ul class="float-right">
          <li class="genre-list-filter-active-item pointer"  (click)="changeSpokenLanguageFilterAll(true)">
            <fa-icon [icon]="['far', 'check-square']" class="mr-1"></fa-icon>Select All
          </li>
          <li class="genre-list-filter-active-item pointer" (click)="changeSpokenLanguageFilterAll(false)">
            <fa-icon [icon]="['far', 'square']" class="mr-1"></fa-icon>Select None
          </li>
        </ul>
      </div>
    </div>

    <div class="col-6 mt-4">
      <p class="text-sm mb-0">Original Languages</p>
      <hr class="custom-hr mt-1">
      <div class="my-2">
        <img *ngFor="let lang of originalLanguagesFilterKeys" [src]="'https://unpkg.com/language-icons@0.3.0/icons/'+ lang + '.svg' | safe:'resourceUrl'" height="20px" class="pointer mr-1 mb-1" [ngbTooltip]="languageCodeMap.get(lang)" (click)="changeOriginalLanguageFilterValue(lang)" [class.language-list-filter-inactive-item]="!originalLanguagesFilterValues.get(lang)">
      </div>
      <div class="genre-list my-2">
        <ul class="float-right">
          <li class="genre-list-filter-active-item pointer"  (click)="changeOriginalLanguageFilterAll(true)">
            <fa-icon [icon]="['far', 'check-square']" class="mr-1"></fa-icon>Select All
          </li>
          <li class="genre-list-filter-active-item pointer" (click)="changeOriginalLanguageFilterAll(false)">
            <fa-icon [icon]="['far', 'square']" class="mr-1"></fa-icon>Select None
          </li>
        </ul>
      </div>
    </div>

    <div class="col-6 mt-4">
      <p class="text-sm mb-0">Watch Providers</p>
      <hr class="custom-hr mt-1">
      <div class="my-2">
        <img *ngFor="let provider of watchProviderFilterKeys" [src]="'https://image.tmdb.org/t/p/original/'+ watchProviderLogoMap.get(provider) | safe:'resourceUrl'" height="20px" class="pointer mr-1 mb-1" [ngbTooltip]="provider" (click)="changeWatchProviderFilterValue(provider)" [class.language-list-filter-inactive-item]="!watchProviderFilterValues.get(provider)">
      </div>
      <div class="genre-list my-2">
        <ul class="float-right">
          <li class="genre-list-filter-active-item pointer"  (click)="changeWatchProviderFilterValueAll(true)">
            <fa-icon [icon]="['far', 'check-square']" class="mr-1"></fa-icon>Select All
          </li>
          <li class="genre-list-filter-active-item pointer" (click)="changeWatchProviderFilterValueAll(false)">
            <fa-icon [icon]="['far', 'square']" class="mr-1"></fa-icon>Select None
          </li>
        </ul>
      </div>
    </div>

    <div class="col-6 mt-4 custom-slider">
      <p class="text-sm mb-0">Revenue</p>
      <hr class="custom-hr mt-1">
      <ngx-slider [(value)]="revenueMinValue" [(highValue)]="revenueMaxValue" [options]="revenueOptions"></ngx-slider>
    </div>
    <div class="col-6 mt-4 custom-slider">
      <p class="text-sm mb-0">Budget</p>
      <hr class="custom-hr mt-1">
      <ngx-slider [(value)]="budgetMinValue" [(highValue)]="budgetMaxValue" [options]="budgetOptions"></ngx-slider>
    </div>
    <div class="col-6 mt-4 custom-slider">
      <p class="text-sm mb-0">Release Year</p>
      <hr class="custom-hr mt-1">
      <ngx-slider [(value)]="releaseMinValue" [(highValue)]="releaseMaxValue" [options]="releaseOptions"></ngx-slider>
    </div>

    <div class="col-12 mt-4">
      <hr class="custom-hr mt-1">
      <button mat-stroked-button (click)="applyFilter()" class="rounded-0 form-width button-border-white float-right ml-2" color="accent"><fa-icon [icon]="['fas', 'filter']" class="mr-2"></fa-icon>Apply Filters</button>
      <button mat-stroked-button (click)="resetFilter()" class="rounded-0 form-width button-border-white float-right" color="accent"><fa-icon [icon]="['fas', 'redo']" class="mr-2"></fa-icon>Reset Filters</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center border-bottom mb-3">
      <p class="text">These are the movies we recommend you to watch!</p>
      <p class="text" *ngIf="isMember && lastTrainedOn">Your recommendations were generated for you last time on: <i>{{lastTrainedOn | date:'medium'}}</i></p>
      <p class="text" *ngIf="isMember && lastTrainedOn === null">There are no recommendations generated for you yet. Come back in 15 minutes!</p>
      <p class="text" *ngIf="isMember && trainingAllowed" class="pointer demo-train" (click)="startTrainingManually()">For demonstration purposes you can click here to start the training without waiting for the scheduled run. The training takes a while, please be patient.</p>
    </div>
  </div>
  <div class="row mb-2" *ngFor="let rec of filteredRecommendations  | paginate: { itemsPerPage: 3, currentPage: p }; let i = index" [@enterAnim]="{ value: '', params: { delay: i * 150 } }">
    <div class="col-md-3 order-md-0 order-1 col-6">
      <div class="movie-poster" [style]="'background-image: url(https://image.tmdb.org/t/p/original/' +rec.posterPath + '); height: '+height+'px' | safe:'style'" ></div>
    </div>
    <div class="col-md-6 order-md-1 order-0 col-12">
      <h3 class="movie-title">{{rec.title}} <span *ngIf="rec.releaseDate">({{rec.releaseDate | date: 'yyyy'}})</span></h3>
      <p class="movie-tagline" *ngIf="rec.tagline">{{rec.tagline}}</p>
      <div class="genre-list my-2 pb-2 border-bottom">
        <ul>
          <li *ngFor="let genre of rec.genres">
            {{genre.name}}
          </li>
        </ul>
      </div>
      <div class="actor-list my-2 pb-2">
        <ul>
          <li *ngFor="let castMember of rec.cast.cast">
            <fa-icon [icon]="['fas', 'user']" class="mr-2"></fa-icon><strong>{{castMember.name}}</strong> ({{castMember.character}})
          </li>
        </ul>
      </div>
      <div class="div">
        <p class="text-sm" *ngIf="rec.overview && !rec.displayFullOverview">{{rec.overview.substr(0,150)}} <span *ngIf="rec.overview.length > 150" (click)="rec.displayFullOverview = true" class="pointer more-less">More ...</span></p>
        <p class="text-sm" *ngIf="rec.overview && rec.displayFullOverview">{{rec.overview}} <span (click)="rec.displayFullOverview = false" class="pointer more-less">Less ...</span></p>
      </div>
    </div>
    <div class="col-md-3 order-2 col-6 text-sm">
      <p><fa-icon [icon]="['fas', 'star']" [fixedWidth]="true" class="mr-2 orange" ngbTooltip="Average Vote (Vote Count)"></fa-icon>{{rec.voteAverage / 2}} ({{rec.voteCount}})</p>
      <p><fa-icon [icon]="['fas', 'fire']" [fixedWidth]="true" class="mr-2 orange" ngbTooltip="Popularity (The Movies Database Rating)"></fa-icon>{{rec.popularity | number: '1.2-2'}}</p>
      <p><fa-icon [icon]="['fas', 'wallet']" [fixedWidth]="true" class="mr-2 orange" ngbTooltip="Budget"></fa-icon>${{(rec.budget / 1000000) | number:'1.2-2'}} MM</p>
      <p><fa-icon [icon]="['fas', 'money-bill']" [fixedWidth]="true" class="mr-2 orange" ngbTooltip="Revenue"></fa-icon>${{(rec.revenue / 1000000) | number:'1.2-2'}} MM</p>
      <p>
        <fa-icon [icon]="['fas', 'language']" [fixedWidth]="true" class="mr-2 orange" ngbTooltip="Original Language"></fa-icon>
        <img alt="English" [src]="'https://unpkg.com/language-icons@0.3.0/icons/'+ rec.originalLanguage+ '.svg' | safe:'resourceUrl'" height="20px" [ngbTooltip]="languageCodeMap.get(rec.originalLanguage)">
      </p>
      <p>
        <fa-icon [icon]="['fas', 'language']" [fixedWidth]="true" class="mr-2 orange" ngbTooltip="Spoken Languages"></fa-icon>
        <img *ngFor="let lang of rec.spokenLanguages" [alt]="lang.englishName" [ngbTooltip]="lang.englishName" [src]="'https://unpkg.com/language-icons@0.3.0/icons/'+ lang.languageCode+ '.svg' | safe:'url'" height="20px" class="mr-1 mb-1">
      </p>
      <p *ngIf="rec?.watchProviders?.flatrate">
        <fa-icon [icon]="['fas', 'tv']" [fixedWidth]="true" class="mr-2 orange" ngbTooltip="Stream"></fa-icon>
        <img *ngFor="let prov of rec.watchProviders.flatrate" [alt]="prov.providerName" [ngbTooltip]="prov.providerName" [src]="'https://image.tmdb.org/t/p/original/'+ prov.logoPath | safe:'resourceUrl'" height="20px" class="mr-1 mb-1">
      </p>
      <p *ngIf="rec?.watchProviders?.buy">
        <fa-icon [icon]="['fas', 'shopping-cart']" [fixedWidth]="true" class="mr-2 orange" ngbTooltip="Buy"></fa-icon>
        <img *ngFor="let prov of rec.watchProviders.buy" [alt]="prov.providerName" [ngbTooltip]="prov.providerName" [src]="'https://image.tmdb.org/t/p/original/'+ prov.logoPath | safe:'resourceUrl'" height="20px" class="mr-1 mb-1">
      </p>
      <p *ngIf="rec?.watchProviders?.rent">
        <fa-icon [icon]="['fas', 'hourglass-start']" [fixedWidth]="true" class="mr-2 orange" ngbTooltip="Rent"></fa-icon>
        <img *ngFor="let prov of rec.watchProviders.rent" [alt]="prov.providerName" [ngbTooltip]="prov.providerName" [src]="'https://image.tmdb.org/t/p/original/'+ prov.logoPath | safe:'resourceUrl'" height="20px" class="mr-1 mb-1">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <pagination-controls (pageChange)="p = $event" *ngIf="filteredRecommendations.length > 0"></pagination-controls>
      <p *ngIf="filteredRecommendations.length == 0 && recommendations.length > 0" class="text-sm">No Results with current filter settings.</p>
    </div>
  </div>
</div>
